<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Даринка</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Головна</a> |
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('profile') }}">Мій кабінет</a> |
            <a href="{{ url_for('logout') }}">Вийти</a>
        {% else %}
            <a href="{{ url_for('register') }}">Реєстрація</a> |
            <a href="{{ url_for('login') }}">Вхід</a>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
